<div class="login-container">
    <div class="header-blue">
        <img src="/assets/img/logoBB.png" alt="Banco de Bogotá" class="logo">
    </div>

    <div class="mobile-frame">
        <h2 class="text-center mb-4 fw-bold" style="color: rgb(20, 50, 125);">Búsqueda de Cliente</h2>

        <p class="text-center text-muted mb-4">Ingresa tipo y número de documento</p>
        <form class="container" [formGroup]="byClienteForm" (ngSubmit)="getByCliente()">
            <div class="row g-3">
                <div class="col-12">
                    <select class="form-select" formControlName="documentType">
                        <option value="" disabled selected>Seleccione tipo de documento</option>
                        <option *ngFor="let tipo of ListTipoDocumento" [value]="tipo.codigo">
                            {{tipo.descripcion}}
                        </option>
                    </select>
                    <div *ngIf="byClienteForm.get('documentType')?.touched && byClienteForm.get('documentType')?.errors" class="text-danger">
                        <small *ngIf="byClienteForm.get('documentType')?.errors?.['required']">
                          El tipo de documento es requerido
                        </small>
                      </div>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" placeholder="Ingresa número"  formControlName="documentNumber" (input)="formatDocumentNumber($event)">
                    <div *ngIf="byClienteForm.get('documentNumber')?.touched && byClienteForm.get('documentNumber')?.errors" class="text-danger">
                        <small *ngIf="byClienteForm.get('documentNumber')?.errors?.['required']">
                          El número de documento es requerido
                        </small>
                        <small *ngIf="byClienteForm.get('documentNumber')?.errors?.['minlength']">
                          El número debe tener al menos 8 caracteres
                        </small>
                        <small *ngIf="byClienteForm.get('documentNumber')?.errors?.['maxlength']">
                          El número no debe exceder 11 caracteres
                        </small>
                        <small *ngIf="byClienteForm.get('documentNumber')?.errors?.['pattern']">
                          Solo se permiten números
                        </small>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center my-4">
                        <button class="btn-search" [disabled]="!byClienteForm.valid">Buscar</button>
                    </div>
                </div>
            </div>
        </form>



        <div class="client-type-box">
            <p class="fw-medium mb-2">Banca Personas</p>
            <p class="text-muted mb-1">Banca Empresarial y Corporativo</p>
            <p class="text-muted mb-0">Afiliados</p>
        </div>
    </div>
</div>